*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

img{
    border-radius: 10px;
    width: 500px;
    height: 350px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    padding: 24px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    justify-content: space-between;
}

.footer{
    justify-content: center;
    margin-top: auto;
    font-size: 18px;
}

.hero{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:#F9FAF8; 
    padding:100px;
}

.heroText{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    width: 400px;
}

.heroText p{
    font-size: 48px;
    font-weight: 900;
}

.heroText span {
    font-size: 18px;
    color: #e5e7eb;
}

.links{
    margin-left: auto;
}

.signup{
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #3882f6;
    text-align: center;
    color:#F9FAF8;
    padding: 8px 24px;
    border-radius: 10px;
    border:none;
}

.signUp.secondary{
    border: 2px solid;
    border-color: #F9FAF8;
}

.information{
    align-items: center;
}

.information >p{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px 0px 60px 0px; 
}

.cardItem{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardItem .text{
    color: #666f7a;
    width: 150px;
    text-align: center;
}

.card{
    display: flex;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color:#1F2937;
    padding:100px;
}

.quote p{
    font-size: italic;
    font-size: 36px;
    font-weight: 300;
}

.quote span{
    display: flex;
    align-self: end;
    font-size: 24px;
    font-weight: 700px;
}

.contact{
    display:flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 36px 100px;
    border-radius: 10px;
    gap: 100px;
}

.textContainer{
    color:#F9FAF8;
}

.textContainer p{
    font-size: 32px;
    font-weight: 700;
}

.textContainer span{
    font-size: 18px;
}